<div class="dialog">
    <h1 mat-dialog-title>Edit user</h1>
    <form [formGroup]="editUserForm" class="wholeForm" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input
          matInput
          required
          type="text"
          name="myUserName"
          formControlName="firstName"
          [class.is-invalid]="
            editUserForm.controls['firstName'].invalid &&
            editUserForm.controls['firstName'].touched
          "
        />
        <mat-error
          *ngIf="
            editUserForm.controls['firstName'].invalid &&
            editUserForm.controls['firstName'].touched
          "
        >
          <span *ngIf="editUserForm.controls['firstName'].errors?.required"
            >This field is required.</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input
          matInput
          required
          type="text"
          name="myUserName"
          formControlName="lastName"
          [class.is-invalid]="
            editUserForm.controls['lastName'].invalid &&
            editUserForm.controls['lastName'].touched
          "
        />
        <mat-error
          *ngIf="
            editUserForm.controls['lastName'].invalid &&
            editUserForm.controls['lastName'].touched
          "
        >
          <span *ngIf="editUserForm.controls['lastName'].errors?.required"
            >This field is required.</span
          >
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Save changes
      </button>
    </form>
  </div>
  